.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block{
    flex:0 0 31.333333333%;
    margin: 1%;
    aspect-ratio: 1/1;
    background-size: 400px;
    /* filter: grayscale(100%); */
    transition: 1s filter;
    background-repeat: no-repeat;
    background-position: center;
}

.spinner{
    width: 30px;
    height:30px;
    border: 5px var(--footBodyColor) solid;
    border-top-color: var(--footTextColor);
    border-radius: 100px;
    transition: 1s border-top-color border;
    animation: 1s linear spinner-spin infinite;
    display: block;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spinner-spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.block:hover{
    /* transform: scale(1.1); */
    /* filter: grayscale(0%); */
}
.headingBlock{
    display: none;
}

@keyframes moveup {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.block:hover > .headingBlock{
    display: block;
    text-align: left;
    margin-top: 80%;
    /* margin-left: 50%; */
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    font-weight: bold;
    animation: 1s ease-out 0s 1 moveup;
}

@media all and (max-width:800px){
    .block{
        /* flex:0 0 32.33%;
        margin: 0.5%; */

        flex:0 0 48%;
        margin: 1%;

        /* /* flex:0 0 49%;
        margin: 0.5%; */

        background-size: 160px;
        aspect-ratio: 1/1;
        /* filter: grayscale(100%); */
        transition: 1s filter;
    }
}

@media all and (min-width:1600px){
    .block{
        /* flex: 0 0 400px; */
    }
    .blocks{
        /* background-color: #000000; */
    }
}

/* For Item page */
.col{
    width: 50%;
    height: 400px;
    display: inline-block;
}
.left-col{
    float: left;
}
.right-col{
    
}
.main-title{
    font-size: 50px;
}
.main-text{
    font-size: 20px;
}
.main-image{
    margin-left: 200px;
    width: 400px;
}
.side-image{
    width: 200px;
    margin: 10px;
}
div.image-row{
   text-align: left;
}

.contacts{
    font-size: 20px;
    text-decoration: none;
    display: block;
    color: #000000;
}
.contacts:hover{
    text-decoration: underline;
}

@media all and (max-width:800px){
    .col{
        width: 100%;
        display:block;
    }
    .left-col{
        /* height: 200px; */
        float: none;
    }
    .right-col{
        float: none;
    }
    .main-image{
        margin-left: 0px;
        width: 100%;
    }
    .block:hover >.headingBlock{
        display: none;
    }
}