@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App{
    background-color: rgb(255, 255, 255);
    font-family: "Quicksand";
}
.main{
    width:80%;
    margin-left: 10%;
    right: 10%;
    margin-top: 20px;
    min-height: calc(100vh - 140px);
}
.nav{
    height: 50px;
    line-height: 45px;
    padding-top: 20px;
}
.nav .page{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    width: 100px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
.nav .active{
    text-decoration: underline;
    /* background-color: #5c5c5c; */
}
.nav .page:hover{
    text-decoration: underline;
}

.nav .left{
    width: 40%;
    display: inline-block;
    margin-left: 10%;
}
.nav .mid{
    display: none;
}
.nav .right{
    width:40%;
    text-align: right;
    display: inline-block;
    margin-right: 10%;
}
.nav .name{
    display: inline-block;
    font-size: 30px;
    white-space: nowrap;
}
.nav .name:hover{
    text-decoration: none;
}
.nav .menu{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 20px;
}

.foot{
    background-color: #eeeff0;
    /* position:sticky;
    left:0;
    bottom: 0; */
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #5c5c5c;
}

.title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.paragraph{
    margin-top: 10px;
}

.paragraph:last-child{
    margin-bottom: 20px;
}

.profilePic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: grayscale(100%);
    /* margin-left: 100px; */
}
@media all and (max-width:800px){
    .nav .left{
        width: 80%;
        margin-left: 10%;
    }
    .nav .mid{
        display: inline-block;
    }
    .nav .right{
        width: 100%;
        margin: 0%;
        display: none;
    }
    .nav .right-hidden{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        background-color: #ffffff;
    }
    .nav .page{
        width: 100%;
        margin: 0%;
        text-align: center;
    }
    .nav .name{
        display: block;
    }
}